
body{
    background-image: url("");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 600px;
    background: rgba(243, 230, 230, 0.6);
    padding-bottom: 30px;
    border-radius: 20px;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Para asegurarse de que esté encima de otros elementos */
  }
  

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}

.text{
    color: black;
    font-size: 48px;
    font-weight: 700px;
}

.underline{
    width: 61px;
    height: 6px;
    background: rgb(3, 3, 51);
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    height: 80px;
    background: rgba(238, 238, 231, 0.9);
    border-radius: 6px;
} 

.input img{
    margin: 0px 30px;
}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: black;
    font-size: 18px;

}

.forgot-password span{
    color: black;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;

}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 59px;
    color: black;
    background: rgb(186, 194, 186);
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}