body {
  background: url('../Assets/background.png') no-repeat center center fixed; 
  background-size: cover; 
  margin: 0; 
  padding: 0; 
  font-family: Arial, sans-serif;
}


.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 9px; 
  border-radius: 9px;
  box-shadow: 0 3.6px 7.2px rgba(0, 0, 0, 0.1);
  max-width: 600px; 
  margin: auto;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8.1px; 
  width: 100%;
  margin-top: 27px; 
}

.text {
  color: black;
  font-size: 43.2px; 
  font-weight: 700;
}

.underline {
  width: 54.9px; 
  height: 5.4px;
  background: rgb(106, 106, 148);
  border-radius: 8.1px;
}

.inputs {
  margin-top: 49.5px; 
  display: flex;
  flex-direction: column;
  gap: 22.5px; 
}

.input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 432px;
  height: 40px; 
  background: rgba(238, 238, 231, 0.9);
  border-radius: 5.4px;
}

.input img {
  margin: 0px 27px; 
}

.input input {
  height: 45px; 
  width: 360px; 
  background: transparent;
  border: none;
  outline: none;
  color: black;
  font-size: 17.1px; 
}

.forgot-password {
  padding-left: 55.8px; 
  margin-top: 24.3px; 
  color: black;
  font-size: 16.2px; 
}

.forgot-password span {
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.submit-container {
  display: flex;
  gap: 27px; 
  margin: 54px auto; 
}

.submit {
  background-color: #666966; 
  border: none;
  }

.submit:hover {
  background-color: #898f89; 
}

.submit:active {
  background-color: #7e857e; 
}