.footer-container {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icon {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: #1da1f2; /* Color de hover para el ícono de Twitter */
  }
  